//black
$black: #000;
$darker-black: #181818;
$vDarker-black: #141414;
$lighter-black: #2f2f2f;
$black-good: "rgb(34,34,34)";

//white
$white: #fff;
$darker-white: #e5e5e5;

//gray
$gray-bg: #f0f0f0;
$gray-light: #acacac;
$gray-verylight: #e0e0e0;
$gray-888: #888;
$gray-666: #666;
$gray-222: #222;
$gray-ccc: #cccccc;

//graident
$gradient-white: linear-gradient(to bottom, #fff, #e5e5e5);