/* background-color: #008080; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
    
    /*----------------------------------------*\
                   text-dragging 방지
    \*----------------------------------------*/
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* i{
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
} */
html, body, .App{
    margin: 0;
    overflow: hidden;
}
/* .App{
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    background-image: url(../assets/wallpaper/구름.bmp);
    background-repeat: no-repeat;
    background-size: cover;
} */